SECRET_KEY=change_this_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

INTERNAL_API_KEY=change_this_internal_api_key

AUTH_DATABASE_URL=mysql+pymysql://auth_user:auth_password@ecwf-db:3306/auth_db
ORGANIZATION_DATABASE_URL=mysql+pymysql://organization_user:organization_password@ecwf-db:3306/organization_db
NOTIFICATION_DATABASE_URL=mysql+pymysql://notification_user:notification_password@ecwf-db:3306/notification_db
AUTH_REGISTRATION_SERVICE_URL=http://auth-registration-service:8001
ORGANIZATION_SERVICE_URL=http://organization-tenant-service:8002
NOTIFICATION_SERVICE_URL=http://notification-service:8003

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=no-reply@example.com
EMAIL_DELIVERY_MODE=console