fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
alembic
pymysql
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
pytest
pytest-asyncio
python-dotenv
email-validator
